[all]
doberman        ansible_host=192.168.252.240
dachsund        ansible_host=192.168.252.230
spaniel         ansible_host=192.168.252.242
rattlesnake     ansible_host=192.168.247.203 ansible_port=2222
blackmamba      ansible_host=192.168.247.201 ansible_port=2222
asp             ansible_host=192.168.247.200 ansible_port=2222
cobra           ansible_host=192.168.247.186 ansible_port=2222

[gluster]
rattlesnake
asp
cobra

[gluster:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=~/.ssh/id_ecdsa
